label{
  display: block;
}

.text-container{
  margin: 0 auto;
  width: 400px;
}

.container{
  display: flex;
  margin: 3rem auto;
  width: 800px;
  justify-content: space-around;
}
.box{
  width: 200px;
  height: 200px;
  border: 2px solid black;
}
